html, 
body, 
p, 
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
* {
  outline: none;
}
:root {
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --white-text: #FFFFFF;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F42;
  --white-background: #FFFFFF;
  --modal-background: #FCFCFC;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover,
a:focus {
  color: var(--pressed-state);
}

body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  letter-spacing: 2%;
}

h1, h2 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
}
h1, h2, h3 {
  color: var(--dark);
}
h1 {
  font-size: 56px;
  line-height: 1.08;
}
h2 {
  font-size: 36px;
  line-height: 1.11;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
}

header {
  background-color: var(--white-background);
}
header .logo-text {
  color: var(--dark);
}

.button {
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-brand);
  color: var(--white-text);
  font-weight: 500;
}

.button:hover, 
.button:focus {
  background-color: var(--pressed-state);
}

button.secondary {
  background-color: var(--accent);
  color: var(--primary-brand);
}

button.secondary:hover,
button.secondary:focus {
  background-color: var(--pressed-state);
  color: var(--white-text);
}

.page-nav {
  color: var(--dark);
}
.page-nav--link {
  font-weight: 500;
}

.logo-text {
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
}
.logo-text--prefix {
  color: var(--primary-brand);
}

footer {
  background-color: var(--dark);
  color: var(--white-text);
}

footer .logo-text {
  color: var(--white-text);
}

.section-hero {
  background-color: var(--dark);
}

.section-hero h1 {
  color: var(--white-text);
}
